.pageStyle {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url("../../assets/aerocodelogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formCard {
  padding: 2.5rem;
  border-radius: 15px;
  border: 4px solid #003366;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.formCard h2 {
  color: #003366;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #0055aa;
  border-radius: 8px;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0055aa;
}
