.pageStyle {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
    url("../../assets/aerocodelogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
} /* Cinema - Skrillex */

.border {
  border: 5px solid black;
  border-radius: 9px;
  margin: 5px 5px;
  padding: 7px 7px;
}

.input_style {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  border: 3px solid #0055aa;
  border-radius: 1em;
  outline: none;
}

.btn {
  margin-top: 7px;
}
