.pageStyle {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
    url("../../assets/aerocodelogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.loginCard {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}

.border {
  border: 4px solid #003366;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
}

.input_style {
  margin: 10px 0;
  padding: 12px;
  width: 220px;
  border: 3px solid #0055aa;
  border-radius: 1em;
  outline: none;
  transition: 0.3s;
}

.input_style:focus {
  border-color: #00d4ff;
}
