.pageStyle {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
    url("../../assets/aerocodelogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text";
  align-items: center;
}

.pageStyle p {
  text-align: center;
  margin-bottom: 7px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  grid-area: text;
}

.my_link {
  background-color: #003366;
  color: white;
  text-decoration: none;
  border: 2px solid #0055aa;
  display: inline-block;
  transition: 0.3s;
  width: 200px;
  text-align: center;
}

.my_link:hover {
  background-color: #0055aa;
  text-decoration: none;
  transform: translateY(-2px);
}

.aviao {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
}

.aviao img {
  max-width: 90%;
  height: auto;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.2));
  box-shadow: 1px 2px 2px 2px rgb(0, 0, 0, 0.2);
}
